@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-border {
  position: relative;
  width: 80px;
  /* Ajusta el tamaño según sea necesario */
  height: 80px;
  /* Ajusta el tamaño según sea necesario */
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ffffff10;
}

.icon-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  padding: 2px;
  /* Ajusta el tamaño del borde */
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.01) 100%);
  -webkit-mask:
    linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 1) 100%);
  mask:
    linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 1) 100%);
}


.hero-subtitle-gradient {
  position: relative;
  border-radius: 22rem;
  overflow: hidden;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border: 2px solid #ffffff10;
}

.hero-subtitle-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  padding: 2px;
  /* Ajusta el tamaño del borde */
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0.01) 50%,
      rgba(255, 255, 255, 0.01) 100%);
  -webkit-mask:
    linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 1) 100%);
  mask:
    linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 1) 100%);
}

.features-button-gradient {
  position: relative;
  border-radius: 22rem;
  overflow: hidden;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border: 2px solid #ffffff8f;
}

.features-button-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  padding: 2px;
  /* Ajusta el tamaño del borde */
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.09) 50%,
      rgba(255, 255, 255, 0.02) 100%);
  -webkit-mask:
    linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 1) 100%);
  mask:
    linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 1) 100%);
}

.bg-dark-purple {
  background: #a0b5eb;
  background: linear-gradient(to right, #fff0e273 0%, #fb5f8e80 0%, #430e8d6d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0b5eb', endColorstr='#0066ff', GradientType=1);
}